# General configuration for the init.d scripts,
# not necessarily for JBoss EAP itself.
# default location: /etc/default/jboss-eap

## Location of JDK
JAVA_HOME="/usr/lib/jvm/java"

## Location of JBoss EAP
JBOSS_HOME="{{ jboss_eap_full_installation_dir }}"

## The username who should own the process.
JBOSS_USER={{ jboss_eap_user }}

## The mode JBoss EAP should start, standalone or domain
# JBOSS_MODE=standalone

## Configuration for standalone mode
JBOSS_CONFIG={{ jboss_config_xml }}

## Configuration for domain mode
# JBOSS_DOMAIN_CONFIG=domain.xml
# JBOSS_HOST_CONFIG=host-master.xml

## The amount of time to wait for startup
# STARTUP_WAIT=60

## The amount of time to wait for shutdown
# SHUTDOWN_WAIT=60

## Location to keep the console log
# JBOSS_CONSOLE_LOG="/var/log/jboss-eap/console.log"

## Additionals args to include in startup
JBOSS_OPTS="{{ jboss_config_additional_args }}"